*{
  margin: 0;
  font-family: 'Space Mono';
}
img{
  width: 100%;
}

svg{
  position: absolute;
  margin-left: 5px;
  margin-top: 10px;
}
body{
background-color:  hsl(185, 41%, 84%);s
font-family: 'Space Mono', monospace;
padding: 7rem 15rem;
}
input{
  text-align: right;
  background-color: hsl(189, 41%, 97%);
  margin-top: 0;
  width: 100%;
  border-color: hsl(189, 41%, 97%);
  font-size: 24px;

}
.input{
  display: grid;
  grid-template-columns: 1fr ;
  padding: 3rem;
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
}
.green-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 120px;

}
.white-box{
  padding: 2rem;
}
.reset-button{
  width: 100%;
}
.custom-btn{
  background: hsl(189, 41%, 97%);
}
.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 10px;
}
.result-display{
  background: hsl(183, 100%, 15%);
    padding: 3rem 2rem;
      border-radius: 20px;

}

.result{
  line-height: 1.8;
  color: hsl(172, 67%, 45%);
  font-size: 2em;
}
.discription{
  line-height: 0.5;
}
.discription .calc{
  color: hsl(0, 0%, 100%);
}
.discription p:not(.calc){
  color: hsl(186, 14%, 43%);
}
.per-person1{
  margin-bottom: 50px;
}
@media screen and (min-width:30em){
.input{
  grid-template-columns: 1fr;
}
.buttons{
  grid-template-columns: repeat(2, minmax(min-content, 40%));
  grid-gap: 20px;
}

body{
  padding: 2rem 3rem;
}
.result{
  font-size: 1.5em;
}

}
@media screen and (min-width:54em){
  .input{
      grid-template-columns: 1fr ;
  }
  body{
    padding: 3rem 7rem;
  }
  .buttons{
      grid-template-columns: 1fr 1fr 1fr;
  }
  .result{
    font-size: 2em;
  }
}
@media screen and (min-width:68em){
  .input{
      grid-template-columns: 1fr 1fr;
  }
  body{
    padding: 5rem 12rem;
  }
  .buttons{
      grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
  }
  .result{
    font-size: 2em;
  }

}
